<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Start new test</title>
</head>
<body>
        <form th:action="@{/testing}"
              th:object="${questionForm}" method="POST">
            <p th:utext="'Question #: ' + ${questionForm.numberOfQuestion}"/>
            <p th:utext="'Select ' + ${questionForm.countOfCorrect} + ' answer(s)'"/>
            <tr th:each="answer:${questionForm.answers}">
                <td th:utext = "${answer.textOfAnswer} + '  ---  ' + ${answer.checked}">...</td>
                <input type="checkbox" th:field="*{answer.inputCorrect}"/>
            </tr>

        </form>
</body>
</html>